/** @format */

.box {
    background-color: lightblue;
    width: 5rem;
    aspect-ratio: 1 / 1;
}

.reset {
    margin-top: 2rem;
    color: #222;
    border: 1px solid currentColor;
    padding: .25rem .5rem;
}
